#scores {
    position: absolute;
    left: -30px;
    padding: 5px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0px 0px 5px 5px;
    background-color: #56ac8c;
    transform: rotate(-90deg);
}

#rules {
    position: absolute;
    right: -29px;
    padding: 5px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0px 0px 5px 5px;
    background-color: #5666ac;
    transform: rotate(90deg);
}